* {
    margin: 0;
    padding: 0;
  }
  .title{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  body{
    display: inline-block;
    justify-content: center;
  }
  .outer {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 500px;
  }
  .display {
    border: 2px solid red;
    height: 20vh;
  }
  
  .firstRow,
  .secondRow,
  .thirdRow,
  .fourthRow {
    display: flex;
    width: 100%;
  }
  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 7vw;
    height: 8vh;
    border-radius: 50%;
    margin: 10px;
    font-size: x-large;
    
  }
  